@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --VERY-DARK-GRAYISH-BLUE: hsl(217, 19%, 35%);
  --DESATURATED-DARK-BLUE: hsl(214, 17%, 51%);
  --GRAYISH-BLUE: hsl(212, 23%, 69%);
  --LIGHT-GRAYISH-BLUE: hsl(210, 46%, 95%);
}

body {
  background-color: var(--LIGHT-GRAYISH-BLUE);
  font-family: "Manrope", serif;
}

main {
  width: 90%;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px auto;
}

.first-div {
  width: 100%;
  height: 30%;
}

.second-div {
  width: 100%;
  height: 70%;
}

.first-div img {
  object-fit: cover;
  max-inline-size: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 100%;
}

.profile img {
  border-radius: 50%;
}

.word-wrapper h1 {
  color: var(--VERY-DARK-GRAYISH-BLUE);
  font-weight: 700;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
}

.word-wrapper p {
  margin: 20px 0px 0px;
  color: var(--GRAYISH-BLUE);
  font-weight: 500;
  font-size: clamp(1rem, 3vw, 1.3rem);
}

.word-wrapper {
  width: 100%;
  height: clamp(70%, 78%, 85%);
  padding: 30px 30px 20px;
}

.profile-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: clamp(15%, 22%, 30%);
  padding: 5px 30px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
}

.wrapper-one,
.wrapper-two {
  width: 75%;
}

.wrapper-two span {
  color: var(--GRAYISH-BLUE);
  font-size: 1.3rem;
  font-weight: 400;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: var(--VERY-DARK-GRAYISH-BLUE);
  font-weight: 700;
  font-size: 1rem;
}

.date {
  color: var(--GRAYISH-BLUE);
  font-size: 1rem;
}

.wrapper-two > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-icons-div {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.social-icons-div img {
  width: 25px;
  height: 25px;
}

.share-icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: var(--LIGHT-GRAYISH-BLUE);
}

.share-icon:hover,
.share-icon:focus {
  cursor: pointer;
}

/* UTILITIES */
.hidden {
  display: none;
}

.share {
  background-color: var(--VERY-DARK-GRAYISH-BLUE);
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 450px) {
  main {
    flex-direction: row;
    width: 850px;
    height: 400px;
    margin-top: 100px;
  }

  .first-div img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
  }

  .first-div {
    width: 40%;
    height: 100%;
  }

  .second-div {
    width: 60%;
    height: 100%;
  }

  .word-wrapper h1 {
    font-size: 1.3rem;
  }

  .word-wrapper p {
    font-size: 1rem;
  }

  .wrapper-one {
    width: 55%;
  }
}

/* TEST */

.show {
  display: flex;
}

.hide {
  display: none;
}

.popup {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -60px;
  right: -70px;
}

.box {
  width: 240px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--VERY-DARK-GRAYISH-BLUE);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid var(--VERY-DARK-GRAYISH-BLUE);
  transform: rotate(180deg);
}

.box > div {
  color: white;
  display: flex;
  justify-content: space-between;
}

.box > div span {
  font-size: 1.2rem;
  font-weight: 500;
}
